body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto; /* Remove default margin from the body */
  margin-bottom: 100px; /* Add a bottom margin of 100px */
}

.btn.custom-btn-primary{
  background-color: #0c1b34;
  color: white;
}

.btn.custom-btn-primary:hover{
  background-color: #bbce00;
  color: white;
}

.btn.custom-btn-secondary{
  background-color: white;
  color: #0c1b34;
  border: 1px solid #0c1b34;
}

.btn.custom-btn-secondary:hover{
  background-color: #bbce00;
  color: white;
}