{{define "average_metrics"}}
  <div class="average-metrics-widget">
    <div class="metrics-block">
      <h2>Lead Time</h2>
      <p>26 días</p>
    </div>

    <div class="metrics-block">
      <h2>Cycle Time</h2>
      <p>13 días</p>
    </div>

    <div class="metrics-block">
      <h2>Blocked Time</h2>
      <p>4 días</p>
    </div>

    <div class="metrics-block">
      <h2>Flow Efficiency (Dev)</h2>
      <p>86.50%</p>
    </div>
  </div>
{{end}}