<!DOCTYPE html>
<html>

<head>
    <title>Métricas Kanban</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="header-section">
        <div class="container">
            <h1>MÉTRICAS KANBAN</h1>
            <button id="openModalBtn" class="button-secondary">Configurar Token Clickup</button>
        </div>
        <div class="text-input-block">
            <label for="textArea">Tickets a analizar</label>
            <br>
            <textarea id="textArea" name="textArea" rows="2"
                placeholder="#85aaaaaa, #85bbbbbb, #85cccccc...">{{.Tickets}}</textarea>
        </div>

        <div class="date-selector-block">
            <label for="startDate">Desde</label>
            <input type="date" id="startDate" name="startDate" value="{{.StartDate}}">

            <label for="endDate">Hasta</label>
            <input type="date" id="endDate" name="endDate" value="{{.EndDate}}">

            <button id="calculateBtn" onclick="calculate()">
                <span id="calculateText">Calcular</span>
                <span id="spinner" class="spinner" style="display: none;"></span>
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>Configurar Token Clickup</h2>
            <label for="tokenInput">Token</label>
            <br>
            <input type="text" id="tokenInput" name="tokenInput">
            <button id="saveTokenBtn">Guardar</button>
        </div>
    </div>

    <div class="dashboard-data">
        {{if gt (len .TaskMetrics) 0}}

        {{template "average_metrics" . }}

        <div class="charts-block">
            {{template "line_chart" .LeadTimeData}}

            {{template "line_chart" .CycleTimeData}}

            {{template "line_chart" .BlockedTimeData}}

            {{template "line_chart" .FlowEfficiencyData}}

            {{template "bar_chart" .MergeRequestTimeToMerge}} 

            {{template "bar_chart" .MergeRequestSize}}
        </div>

        {{template "tickets_table" . }}

        {{template "merge_requests_table" . }}
        {{end}}

        {{template "scripts"}}
    </div>

</body>

{{template "footer"}}

</html>