<!DOCTYPE html>
<html>

<head>
    <title>Métricas Kanban</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>MÉTRICAS KANBAN</h1>

    <div class="text-input-block">
        <label for="textArea">Tickets a analizar</label>
        <br>
        <textarea id="textArea" name="textArea" rows="4" placeholder="#85aaaaaa, #85bbbbbb, #85cccccc..."></textarea>
    </div>

    <div class="date-selector-block">
        <label for="startDate">Desde</label>
        <input type="date" id="startDate" name="startDate" value="{{.StartDate}}">

        <label for="endDate">Hasta</label>
        <input type="date" id="endDate" name="endDate" value="{{.EndDate}}">

        <button onclick="calculate()">Calcular</button>
    </div>


    {{template "average_metrics"}}

    <div class="charts-block">
        {{template "line_chart" .LeadTimeData}}

        {{template "line_chart" .CycleTimeData}}

        {{template "line_chart" .BlockedTimeData}}

        {{template "line_chart" .FlowEfficiencyData}}

        <!--{{template "bar_chart" .MergeRequestTimeToMerge}}  -->

        <!--{{template "bar_chart" .MergeRequestSize}} -->
    </div>

    {{template "tickets_table" . }}

    {{template "scripts"}}
</body>

{{template "footer"}}

</html>